---
layout: page
# The Archives of posts.
---

{% include lang.html %} {% if site.prefer_datetime_locale == 'en' or lang ==
'en' %} {% assign df_strftime_m = '%b' %} {% assign df_dayjs_m = 'MMM' %} {%
else %} {% assign df_strftime_m = '/ %m' %} {% assign df_dayjs_m = '/ MM' %} {%
endif %}

<div class="content">
  <div class="items">
    <div class="item">
      <div class="expense-item">
        <div style="margin: 0.3rem">
          <span class="chip primary"> 학습 중 </span>
        </div>
        <div class="expense-date">
          <div class="tube">
            <div class="shine"></div>
            <div class="body">
              <div class="liquid">
                <div class="percentage-35"></div>
              </div>
            </div>
            <div class="meter">
              <div>100</div>
              <div>80</div>
              <div>60</div>
              <div>40</div>
              <div>20</div>
            </div>
            <div class="bubbles-35">
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
          </div>
        </div>
        <div class="expense-item__description">
          <h4 style="margin-top: 1.25rem">
            React 완벽 가이드 with Redux, Next.js, TypeScript
          </h4>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="expense-item">
        <div style="margin: 0.3rem">
          <span class="chip primary"> 학습 중 </span>
        </div>
        <div class="expense-date">
          <div class="tube">
            <div class="shine"></div>
            <div class="body">
              <div class="liquid">
                <div class="percentage-45"></div>
              </div>
            </div>
            <div class="meter">
              <div>100</div>
              <div>80</div>
              <div>60</div>
              <div>40</div>
              <div>20</div>
            </div>
            <div class="bubbles-45">
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
          </div>
        </div>
        <div class="expense-item__description">
          <h4 style="margin-top: 1.25rem">
            Git & Github 실무 활용 완벽 가이드
          </h4>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="expense-item">
        <div style="margin: 0.3rem">
          <span class="chip primary"> 학습 중 </span>
        </div>
        <div class="expense-date">
          <div class="tube">
            <div class="shine"></div>
            <div class="body">
              <div class="liquid">
                <div class="percentage-55"></div>
              </div>
            </div>
            <div class="meter">
              <div>100</div>
              <div>80</div>
              <div>60</div>
              <div>40</div>
              <div>20</div>
            </div>
            <div class="bubbles-55">
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
          </div>
        </div>
        <div class="expense-item__description">
          <h4 style="margin-top: 1.25rem">
            JavaScript 알고리즘 & 자료구조 마스터클래스
          </h4>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="expense-item">
        <div style="margin: 0.3rem">
          <span class="chip primary"> 학습 중 </span>
        </div>
        <div class="expense-date">
          <div class="tube">
            <div class="shine"></div>
            <div class="body">
              <div class="liquid">
                <div class="percentage-14"></div>
              </div>
            </div>
            <div class="meter">
              <div>100</div>
              <div>80</div>
              <div>60</div>
              <div>40</div>
              <div>20</div>
            </div>
            <div class="bubbles-14">
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
          </div>
        </div>
        <div class="expense-item__description">
          <h4 style="margin-top: 1.25rem">클린코드 자바스크립트</h4>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="expense-item">
        <div style="margin: 0.3rem">
          <span class="chip primary"> 학습 중 </span>
        </div>
        <div class="expense-date">
          <div class="tube">
            <div class="shine"></div>
            <div class="body">
              <div class="liquid">
                <div class="percentage-4"></div>
              </div>
            </div>
            <div class="meter">
              <div>100</div>
              <div>80</div>
              <div>60</div>
              <div>40</div>
              <div>20</div>
            </div>
            <div class="bubbles-4">
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
          </div>
        </div>
        <div class="expense-item__description">
          <h4 style="margin-top: 1.25rem">
            인터랙티브 웹 개발 제대로 시작하기
          </h4>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="expense-item">
        <div style="margin: 0.3rem">
          <span class="chip danger"> 학습 전</span>
        </div>
        <div class="expense-date">
          <div class="tube">
            <div class="shine"></div>
            <div class="body">
              <div class="liquid">
                <div class="percentage-0"></div>
              </div>
            </div>
            <div class="meter">
              <div>100</div>
              <div>80</div>
              <div>60</div>
              <div>40</div>
              <div>20</div>
            </div>
            <div class="bubbles-0">
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
          </div>
        </div>
        <div class="expense-item__description">
          <h4 style="margin-top: 1.25rem">
            Typescript :기초부터 실전형 프로젝트까지 with React + NodeJS
          </h4>
        </div>
      </div>
    </div>

    <div class="item">
      <div class="expense-item">
        <div style="margin: 0.3rem">
          <span class="chip danger"> 학습 전</span>
        </div>
        <div class="expense-date">
          <div class="tube">
            <div class="shine"></div>
            <div class="body">
              <div class="liquid">
                <div class="percentage-14"></div>
              </div>
            </div>
            <div class="meter">
              <div>100</div>
              <div>80</div>
              <div>60</div>
              <div>40</div>
              <div>20</div>
            </div>
            <div class="bubbles-14">
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
          </div>
        </div>
        <div class="expense-item__description">
          <h4 style="margin-top: 1.25rem">
            모든 개발자를 위한 HTTP 웹 기본 지식
          </h4>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="expense-item">
        <div style="margin: 0.3rem">
          <span class="chip success"> 학습 완료</span>
        </div>
        <div class="expense-date">
          <div class="tube">
            <div class="shine"></div>
            <div class="body">
              <div class="liquid">
                <div class="percentage"></div>
              </div>
            </div>
            <div class="meter">
              <div>100</div>
              <div>80</div>
              <div>60</div>
              <div>40</div>
              <div>20</div>
            </div>
            <div class="bubbles">
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
          </div>
        </div>
        <div class="expense-item__description">
          <h4 style="margin-top: 1.25rem">
            유닛테스트와 TDD (웹개발자를 위한 테스트 마스터 클래스🍯)
          </h4>
        </div>
      </div>
    </div>

    <div class="item">
      <div class="expense-item">
        <div style="margin: 0.3rem">
          <span class="chip danger"> 학습 전</span>
        </div>
        <div class="expense-date">
          <div class="tube">
            <div class="shine"></div>
            <div class="body">
              <div class="liquid">
                <div class="percentage-0"></div>
              </div>
            </div>
            <div class="meter">
              <div>100</div>
              <div>80</div>
              <div>60</div>
              <div>40</div>
              <div>20</div>
            </div>
            <div class="bubbles-0">
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
          </div>
        </div>
        <div class="expense-item__description">
          <h4 style="margin-top: 1.25rem">
            리팩토링의 모든것 🚀 (코딩실력 향상을 위한 개발자 필수 강의)
          </h4>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="expense-item">
        <div style="margin: 0.3rem">
          <span class="chip danger"> 학습 전</span>
        </div>
        <div class="expense-date">
          <div class="tube">
            <div class="shine"></div>
            <div class="body">
              <div class="liquid">
                <div class="percentage-0"></div>
              </div>
            </div>
            <div class="meter">
              <div>100</div>
              <div>80</div>
              <div>60</div>
              <div>40</div>
              <div>20</div>
            </div>
            <div class="bubbles-0">
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
          </div>
        </div>
        <div class="expense-item__description">
          <h4 style="margin-top: 1.25rem">
            프론트엔드 개발자를 위한, 실전 웹 성능 최적화(feat. React) - Part. 1
          </h4>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="expense-item">
        <div style="margin: 0.3rem">
          <span class="chip danger"> 학습 전</span>
        </div>
        <div class="expense-date">
          <div class="tube">
            <div class="shine"></div>
            <div class="body">
              <div class="liquid">
                <div class="percentage-0"></div>
              </div>
            </div>
            <div class="meter">
              <div>100</div>
              <div>80</div>
              <div>60</div>
              <div>40</div>
              <div>20</div>
            </div>
            <div class="bubbles-0">
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
          </div>
        </div>
        <div class="expense-item__description">
          <h4 style="margin-top: 1.25rem">
            프론트엔드 개발자를 위한, 실전 웹 성능 최적화(feat. React) - Part. 2
          </h4>
        </div>
      </div>
    </div>
  </div>
</div>
